@mixin youtube-model() {
  .title {
    @include title-h3();
  }
  .video {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    .youtube-wrapper {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      overflow: hidden;
      iframe {
        width: 100% !important;
        height: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}